#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 0px;
  font-size: 100px;
}

#weather {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
