.greeting-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-box h1 {
  margin-top: 300px;
  margin-bottom: 0;
  font-size: 80px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
  color:antiquewhite;
}

#greeting {
  display: flex;
}

#login-form {
  margin-top: 300px;
  margin-left: 0px;
  border-bottom: 5px solid rgba(0, 0, 0, 1);
}

#login-form input {
  border: none;
  font-size: 60px;
  width: 55vh;
  background-color: transparent;
}

#login-form input::placeholder {
  color: white;
}

.border-bar {
  background-color: blue;
}
